<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="layouts :: header"></head>
</head>
<body>

<head th:replace="layouts :: navbar"></head>

<div class="container">
    <h4>Employees Dashboard</h4>
    <div class="row">
        <div class="col-md-6">

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Project Count</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aEmployeeProjectCnt : ${employeesListProjectCnt}">
                    <td th:text="${aEmployeeProjectCnt.firstname}"></td>
                    <td th:text="${aEmployeeProjectCnt.lastname}"></td>
                    <td th:text="${aEmployeeProjectCnt.projectCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>